<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="marketplace-view" ng-app="APP" ng-controller="core as vm" ng-cloak>
        <header>Marketplace</header>

        <div class="signals-list">
            <div class="signal-box" ng-repeat="signal in vm.signals" ng-class="{'active': signal.subscribed}">
                <div class="signal-head">
                    <div class="signal-img" background-src="{{signal.imgURL}}"></div>
                    <div class="signal-name">{{signal.name}}</div>
                </div>
                <div class="signal-body">
                    <div class="signal-desc">{{signal.description}}</div>
                    <div class="info-group">
                        <label>Price:</label>
                        <span class="group-detail">${{signal.price}}</span>
                    </div>
                    <div class="info-group">
                        <label>Signals Per Day:</label>
                        <span class="group-detail">{{signal.signal_count}} /day</span>
                    </div>
                    <div class="info-group">
                        <label>Profit %:</label>
                        <span class="group-detail">{{signal.profit_pct}}</span>
                    </div>
                    <div class="signal-options">
                        <a class="option-btn" href="signal?id={{signal.id}}">More Details</a>
                        <div class="option-btn" ng-hide="{{signal.subscribed}}">Subscribe</div>
                        <div class="option-btn unsubscribe" ng-show="{{signal.subscribed}}">Unsubscribe</div>
                    </div>
                </div>
                <div class="social-links">
                    <a href="{{signal.telegram}}" class="social-link telegram" ng-if="signal.telegram"><i class="fa fa-telegram"></i></a>
                    <a href="{{signal.facebook}}" class="social-link facebook" ng-if="signal.facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="{{signal.youtube}}" class="social-link youtube" ng-if="signal.youtube"><i class="fa fa-youtube"></i></a>
                    <a href="{{signal.discord}}" class="social-link discord" ng-if="signal.discord"><img src="https://i.imgur.com/Sfir8Gg.png" alt="" class="discord-img"></a>
                </div>
            </div>
        </div>
    </div>
    </script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <!-- ngAnimate -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script> -->
    <!-- Main App -->
    <script src="app.js"></script>
</body>

</html>